@import "tailwindcss";

:root {
  --color-primary: #1d4ed8; 
  --color-secondary: white; 
  --color-accent: #202020; 
  --color-neutral: #60ffd8; 
  --color-background: #121212;
  --text-primary: black;
  --text-secondary: white;
  --text-muted:#ADB5BB;
  --bg-primary: #b6ff57;
  --bg-secondary: #D7D7D7;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sora);
  --font-mono: var(--font-plex-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), sans-serif;
}

a {
  text-decoration: none;
}

::selection {
  background: #94ff59;
  color: #000;
}
